*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1b2838;
}

.app-name {
  background-color: black;
  color: silver;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.navbar-button{
  color: silver;
  font-style: italic;
  outline: none;
}

.images {
  height: 200px;
  width: auto;
  padding-left: 15px;
}

.description {
  height: auto;
  width: 600px;
  font-size: 20px;
  padding-left: 15px;
}

.title {
  font-size: 40px;
  font-weight: 200;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 15px;;
}

.reviewer {
  font-size: 25px;
  padding-left: 15px;


}

h1 {
  font-size: 100px;
}

.allInputs {
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.desc {
  height: 100px;
  padding-left: 30px;
}